---
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.prod
    env_file:
      - project_name/.env
    ports:
      - "8000:8000"
    depends_on:
      - cache

  web:
    image: caddy:2
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

  cache:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:v1.35.1
    ports:
      - "6379:6379"
