{% load allauth %}
{% if attrs.type == "checkbox" %}
    <div class="ui-field">
        <label class="ui-cluster">
            <input {% if attrs.required %}required{% endif %}
                   name="{{ attrs.name }}"
                   id="{{ attrs.id }}"
                   {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
                   {% if attrs.disabled %}disabled{% endif %}
                   type="{{ attrs.type }}">
            <span class="ui-field__label">
                {% slot label %}
                {% endslot %}
            </span>
        </label>
    </div>
{% else %}
    <label for="{{ attrs.id }}" class="ui-field">
        <span class="ui-field__label">
            {% slot label %}
            {% endslot %}
        </span>
        {% if attrs.type == "textarea" %}
            <textarea {% if attrs.required %}required{% endif %}
                      {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                      {% if attrs.disabled %}disabled{% endif %}
                      {% if attrs.readonly %}readonly{% endif %}
                      {% if attrs.checked %}checked{% endif %}
                      {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                      {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                      {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                      class="ui-textarea{% if attrs.errors %} ui-field__error{% endif %}">{% slot value %}{% endslot %}</textarea>
        {% else %}
            <input {% if attrs.required %}required{% endif %}
                   {% if attrs.disabled %}disabled{% endif %}
                   {% if attrs.readonly %}readonly{% endif %}
                   {% if attrs.checked %}checked{% endif %}
                   {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                   {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                   {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                   {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
                   {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
                   type="{{ attrs.type }}"
                   class="ui-input{% if attrs.errors %} ui-field__error{% endif %}">
        {% endif %}
        {% if attrs.errors %}
            <span class="ui-field__help ui-field__error">{{ attrs.errors }}</span>
        {% elif slots.help_text %}
            <span class="ui-field__help">
                {% slot help_text %}
                {% endslot %}
            </span>
        {% endif %}
    </label>
{% endif %}
