{% extends "base.html" %}
{% load i18n %}
{% block body %}
    <div class="ui-auth-shell">
        <div class="ui-auth-panel">
            <div class="ui-auth-panel__header">
                {% include "partials/brand.html" with href='/' variant='square' %}
            </div>
            <div class="ui-stack ui-stack--lg">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
