{% load i18n %}
<header class="ui-site-header">
    <div class="ui-container ui-site-header__inner">
        {% include "partials/brand.html" with href='/' %}
        <nav aria-label="{% trans 'Primary navigation' %}">
            <ul class="ui-nav ui-list-reset">
                <li><a class="ui-nav__link" href="{% url 'homepage' %}">{% trans "Home" %}</a></li>
                <li><a class="ui-nav__link" href="{% url 'pricing' %}">{% trans "Pricing" %}</a></li>
                <li><a class="ui-nav__link" href="{% url 'pages:support_index' %}">{% trans "Support" %}</a></li>
            </ul>
        </nav>
        <div class="ui-control-group">
            {% include "partials/language-switcher.html" with redirect_to=request.get_full_path %}
            {% include "partials/theme-switcher.html" %}
            {% if user.is_authenticated %}
                {% url 'account_logout' as logout_url_ %}
                {% if logout_url_ %}
                    <a class="ui-button ui-button--outline" href="{{ logout_url_ }}">{% trans "Sign out" %}</a>
                {% endif %}
            {% else %}
                {% url 'account_login' as login_url_ %}
                {% if login_url_ %}
                    <a class="ui-button ui-button--ghost" href="{{ login_url_ }}">{% trans "Sign in" %}</a>
                {% endif %}
                {% url 'account_signup' as signup_url_ %}
                {% if signup_url_ %}
                    <a class="ui-button ui-button--primary" href="{{ signup_url_ }}">{% trans "Get started" %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</header>
