{% extends "base.html" %}
{% load i18n %}
{% block body %}
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">{% trans "Login now!" %}</h1>
                <p class="py-6">
                    {% blocktrans %} Provident cupiditate voluptatem et in. Quaerat
                fugiat ut assumenda excepturi exercitationem quasi. In deleniti
                eaque aut repudiandae et a id nisi. {% endblocktrans %}
                </p>
            </div>
            <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <form class="card-body">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">{% trans "Email" %}</span>
                        </label>
                        <input type="email"
                               placeholder='{% translate "Email" %}'
                               class="input input-bordered"
                               required />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">{% trans "Password" %}</span>
                        </label>
                        <input type="password"
                               placeholder='{% translate "Password" %}'
                               class="input input-bordered"
                               required />
                        <label class="label">
                            <a href="#" class="label-text-alt link link-hover">{% trans "Forgot password?" %}</a>
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">{% trans "Login" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="{% url 'account_login' %}">{% trans "Login" %}</a>
    <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
{% endblock body %}
